html, body {
    margin: 0;
    padding: 0;
    background: black;
}

#button-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-content: center
}

#fretboard {
    background-color: white;
    border-radius: 10px;
}

.noteButton {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: red;
    color: white;
}

.noteButton:hover, .noteButton:focus{
    outline: solid 4px white;
}